$colorWhite: #fff;
// $colorBlue: hsla(208, 51%, 28%, 1);

$firstColor: #777777;
$secondColor: #525252;
$thirdColor: #2b2b2b;

#leftSide {

  height: 100vh;
  background-color: $firstColor;
  position: fixed;
}

.sidebar  {
  h1, h2, h3, h4 {
    text-align: center;
    color: $colorWhite;
  }
}

.mainNav {
  a {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 12pt;
    text-decoration: none;
    font-family: helvetica, sans-serif;
    font-weight: 600;
    padding: .25rem;
    margin: .25rem;
  }
  a:hover {
    color: $secondColor;
  }
}

.socialNav {
  margin-top: 3rem;
  text-align: center;
  a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: .25rem;
    margin: .25rem;
  }
  a:hover {
    color: $secondColor;
  }
  span {
    font-size: 16pt;
    font-weight: 600;
  }
}

.markdown {
  p {
    font-size: 1rem;
  }
  .source-link {
    font-size: .8rem;
    text-decoration: none;
  }
}

.bojo {
  color: rgb(196, 74, 35);
}

li.list {
  list-style: none;
}

.currently {
  margin-bottom: 0;
}

#blog-quote {
  list-style: none;
  padding-left: 6rem;
}
