$colorWhite: #fff;
$colorBlue: hsla(208, 51%, 28%, 1);

$firstColor: #006f9e;
$secondColor: #4c008f;
$thirdColor: #350038;

body {
}

#leftSide {
  height: 100vh;
  background-color: $colorBlue;

}

.sidebar  {
  text-align: center;
  color: #fff;
}

.bojo {
  color: rgb(196, 74, 35);
}

li {
  list-style: none;
}
